<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/React.css">
<link rel="stylesheet" type="text/css" href="css/welcom.css">
<style>
a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: blue;
}

a:active {
	color: red;
}

#hypertext {
	text-decoration-line: none;
	cursor: hand;
}

#topBanner {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 500px;
	height: auto;
	display: block;
	margin: 0 auto;
}
</style>

<title>환영 페이지</title>
</head>
<body>


	<div class="body-container" id="main" align=center>
		<div id="ViewForm">
			<div class="view-form-container">
				<h1>[[${userid}]]([[${username}]])</h1>

				<h1>
					■ 회원 가입일 : <span
						th:text="${#temporals.format(regdate, 'yyyy-MM-dd')}"></span>
				</h1>
				<h1>■ 마지막 로그인 날짜 : [[${lastlogindate}]]</h1>
				<h1>■ 마지막 로그아웃 날짜 : [[${lastlogoutdate}]]</h1>

				<h1>
					<p style="text-align: center;">
						[ <a href="/board/list?page=1">게시판 가기</a> ] | [ <a
							href="/userManage/beforeLogout">로그아웃</a> ]
					</p>
				</h1>
			</div>
		</div>
</body>
</html>