@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
    font-family: PP-Monument-Extended;
    font-weight: 400;
    src: local("PP-Monument-Extended-Light"),
    url(../fonts/PPMONUMENTEXTENDED-LIGHT.OTF);
}

@font-face {
    font-family: PP-Monument-Extended;
    font-weight: 800;
    src: local("PP-Monument-Extended-Black"),
    url(../fonts/PPMONUMENTEXTENDED-BLACK.OTF);
}

body {
    font-family: 'pretendard';
    padding: 0px;
    margin: 0px;
}



#ViewForm{
	width: 561px;
	height: 300px;
	padding: 20px, 20px;
	text-align: center;
	background-color: #EFF1F3;
	border-radius: 5px;
	display: flex;
	align-content: center;
    justify-content: center;
    align-items: center
	
	
}

.view-form-container{
	display: flex;
    flex-direction: column;
}

.body-container{
	margin: 10% 0 auto;
}